*{
    color:white;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(24, 24, 26);
}
.App {
    text-align: center;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgb(24, 24, 26);
}

.buttonAndMonthNameContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.monthContainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.individualDay{
    width: 140px;
    height: 193px;
    border: 1px solid black;
    display: flex;
    color:white;
    background-color:#303030;
    align-items:flex-start;
    background-repeat:no-repeat;
    background-size: 100% 100%;
    font-weight:bold;
    font-family: 'Titillium Web', sans-serif;
    margin: 1.5% 0 1.5% 0;
    cursor:pointer;
}
.collectionOfDays {
    width: 14%;
    height: 95%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.currentlySelectedMonth{
    width: 100px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 2em;
}
.title{
    font-size:5em;
    color:white;
    font-family: 'Titillium Web', sans-serif;
}
.titleDesc{
    font-size:2em;
    color:white;
    font-family: 'Libre Franklin', sans-serif;
}
.dayOfWeek{
    color:white;
}
.dateOfDay{
    color:white;
    font-size:25px;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    padding:5px;
}
.movieInfoContainer{
    display:flex;
    width:100%;
    font-size:20px;
    font-family: 'Libre Franklin', sans-serif;
    flex-direction:column;
    background-color: rgb(24, 24, 26);
    z-index:1;
}
.movieDescPosterContainer{
    display:flex;
}
.movieInfo{
    width:100%;
}
.button{
    width:50px;
    height:50px;
}
.bgWrapper{
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 380px;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 10,0.6);
    border: 7px solid rgb(252, 67, 10);

}

.movieTitle{
    font-size:5em;
    font-family: 'Titillium Web', sans-serif;
    font-weight:bold;
    color:white;
}
.poster{
    width:300px;
    height:450px;
}
.posterContainer{
    width:30%;
    margin:2%;
}
.actor{
    margin:2%;
}
.castAndCrewContainer{
    width:100%;
}
.descriptionContainer{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buttonMonthContainer{
    display:flex;
    justify-content: center;
    align-items: center;
}
.calendarContainer{
    width:100%;
    height:100%;
}
.monthButton{
    width:109px;
    height:45px;
}
.leftMonthButton{
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-left: 1.5em;

}
.overview{
    width: 100%;
    display: flex;
    flex-direction:column;
    margin:2%;
}
.leftMonthButton:after {
    content: '';
    display: inline-block;
    margin-top: 0.5em;
    text-align: center;
    margin-left: 0.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.rightMonthButton{
    display: inline-block;
    text-align: center;
    width: 4em;
    height: 4em;
    border: 0.5em solid #333;
    border-radius: 50%;
    margin-right: 1.5em;

}
.rightMonthButton:after {
    content: '';
    display: inline-block;
    margin-top: 0.5em;
    text-align: center;
    margin-left: -0.4em;
    width: 1.4em;
    height: 1.4em;
    border-top: 0.5em solid #333;
    border-right: 0.5em solid #333;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(45deg);
}
.leftMonthButton:hover,.rightMonthButton:hover{
    border: 0.5em solid #e74c3c;
    cursor:pointer;
}
@media only screen and (max-device-width:992px){
    .individualDay{
        width: 120px;
        height: 160px;
    }
}
@media only screen and (max-device-width:792px){
    .individualDay{
        width: 105px;
        height: 150px;
    }
}
@media only screen and (max-device-width:704px){
    .individualDay{
        width: 80px;
        height: 120px;
    }
}
@media only screen and (max-device-width:584px){
    .individualDay{
        width: 60px;
        height: 85px;
    }
    .dateOfDay{
        font-size: 12px;
        padding: 3px;
    }
}
@media only screen and (max-device-width:442px){
    .individualDay{
        width: 50px;
        height: 75px;
    }
    .dateOfDay{
        font-size: 12px;
        padding: 3px;
    }
}
@media only screen and (max-device-width:390px){
    .individualDay{
        width: 52px;
        height: 70px;
    }
    .dateOfDay{
        font-size: 12px;
        padding: 3px;
    }
}
@media only screen and (max-device-width:355px){
    .individualDay{
        width: 45px;
    }
    .dateOfDay{
        font-size: 12px;
        padding: 3px;
    }
}
@media only screen and (max-device-width:325px){
    .individualDay{
        width: 40px;
    }
    .dateOfDay{
        font-size: 12px;
        padding: 3px;
    }
}