*{
    color:white;
}
body{
    margin:0;
    padding:0;
    background-color: rgb(24, 24, 26);
}
.App{
    text-align: center;
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color: rgb(24, 24, 26);
}
.buttonAndMonthNameContainer{
    width:90%;
    height:300px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.monthContainer{
    width:100%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.individualDay{
    width:100%;
    height:20%;
    border: 1px solid white;
    display:flex;
    align-items:flex-start;
    color:white;
    background-color: rgb(48,48,48);
}
.collectionOfDays{
    width:14%;
    height:95%;
}
.currentlySelectedMonth{
    width:20%;
    height:40%;
    border: 1px solid black;
    color:white;
}
.title{
    color:white;
}
.titleDesc{
    color:white;
}
.dayOfWeek{
    color:white;
}
.dateOfDay{
    color:white;
    font-size:25px;
    font-weight:bold;
    border-right:1px solid white;
    border-bottom:1px solid white;
    padding:5px;

}