.App {
    text-align: center;
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    flex-direction:column;
    background-color: rgb(24, 24, 26);
}
.buttonAndMonthNameContainer{
    width:90%;
    height:10%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:row;
}
.monthContainer{
    width:100%;
    height:90%;
    display:flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.individualDay{
    width:100%;
    height:20%;
    border: 1px solid black;
    display:flex;
    align-items:flex-start;
    color:white;
    background-color: rgb(48,48,48);
}
.collectionOfDays{
    width:14%;
}
.currentlySelectedMonth{
    width:20%;
    height:40%;
    border: 1px solid black;
    color:white;
}